.pet-display-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pet-display-image {
  flex-basis: 50%;
}

.pet-display-image img {
  width: 98%;
  height: 98%;
  margin: 1%;
}

.pet-display-container .pet-item-content {
  flex-basis: 50%;
  position: relative;
}

.pet-display-container .pet-item-content p {
  font-size: 18px;
  padding: 4% 0;
}

.close-button {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 6px 9px;
  opacity: 0.5;
  background: #E0E3DA;
  border: none;
  border-radius: 25px;
  z-index: 1;
}

.close-button:hover {
  color: #f9320c;
  opacity: 1;
  transition: all 0.2s ease-out;
  cursor: pointer;
}