.pet-display-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pet-display-image {
  flex-basis: 50%;
}

.pet-display-image img {
  width: 100%;
  height: 100%;
  border-right: 2px solid rgba(86, 98, 112, 0.6);
  border-radius: 28px 0 0 28px;
}

.pet-display-container .pet-item-content {
  flex-basis: 50%;
  position: relative;
}

.pet-display-container .pet-item-content p {
  font-size: 18px;
  padding: 4% 0;
}