/* container styles */
.pet-form-container {
  width: 100vw;
  height: 100vh;
}

.pet-form {
  width: 90%;
  height: 400px;
  max-width: 1000px;
  display: block;
  border: 1px solid rgba(224, 227, 218, 0.2);
  border-radius: 0 0 2px 2px;
  box-shadow: 
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 0 auto;
}

/* input styles */
.pet-input-section {
  display: block;
  float: left;
  width: 30%;
  min-height: 320px;
  margin: 0 1.66%;
}

.pet-input-section label {
  display: block;
  font-weight: 700;
  margin: 20px 0;
}

#pet-gender-input label {
  display: inline;
  padding-right: 20px;
  font-weight: 300;
}

#pet-gender-input input[type="radio"] {
  margin: 20px 5px 0 0;
}

.pet-input-section input[type="text"],
.pet-input-section input[type="number"],
.pet-input-section select {
  margin: 10px 0;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.pet-input-section input[type="text"]:focus,
.pet-input-section input[type="number"]:focus,
.pet-input-section input[type="radio"]:focus,
.pet-input-section select:focus {
  outline: 2px solid #A593E0;
}

.pet-input-section select {
  cursor: pointer;
}

#pet-img-preview {
  display: block;
  border: 1px solid rgba(86, 98, 112, 0.2);
  width: 100%;
  max-width: 300px;
  margin: 10px 0;
  max-height: 250px;
}

/* button styles */
.submit-button {
  background: #E0E3DA;
  opacity: 0.9;
  border: none;
  border-radius: 8px;
  padding: 8px 15px;
  font-size: 16px;
}

.submit-button:hover {
  background: #A593E0;
  color: #FFFFF3;
  transition: all 0.2s linear;
  cursor: pointer;
}

@media (max-width: 980px) {
  .pet-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .pet-input-section {
    width: 100%;
    margin: 0;
  }

  #pet-img-preview {
    margin: 20px auto;
  }
}

@media (max-width: 720px) {
  .pet-form {
    width: 85%;
  }
}