.flash-message {
  position: absolute;
  height: 40px;
  width: 100%;
  padding: 8px 20px;
  color: #fff;
  animation: slider 8s;
  z-index: 10;
}

.flash-message > p {
  margin: 0;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}

.label {
  font-weight: 700;
  margin-right: 10px;
}

.message {
  font-weight: 300;
  font-style: italic;
}

.alert-danger {
  background: linear-gradient(135deg, #C65146, #EC6A5C);
}

.alert-success {
  background: linear-gradient(135deg, #3b8686, #79bd9a);
}

.alert-warning {
  background: linear-gradient(135deg, #fc913a, #fdc23e);
}

@keyframes slider {
  0% {
    top: 55px;
  }
  40%, 75% {
    top: 90px;
  }
  99% {
    opacity: 1;
  }
  100% {
    top: 55px;
    opacity: 0;
  }
}