.pet-item {
  height: 40vh;
  width: 22%;
  min-width: 200px;
  margin: 1.5%;
  border: 1px solid rgba(224, 227, 218, 0.2);
  background: white;
  border-radius: 0 0 2px 2px;
  box-shadow: 
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  position: relative;
}

.pet-item-image {
  height: 50%;
  overflow: hidden;
}

.pet-item-image img {
  width: 100%;
  max-height: 250px;
}

.pet-item-content {
  height: 50%;
  padding: 10px;
}

.pet-item-content p {
  margin: 10px 0;
  font-size: 14px;
}

.pet-content-label {
  font-weight: 700;
  color: #566270;
}

.delete-button {
  position: absolute;
  top: -10px;
  right: -10px;
  opacity: 0.8;
  color: red;
  background: #E0E3DA;
  border: none;
  border-radius: 25px;
  padding: 5px 8px;
}

.delete-button:hover {
  cursor: pointer;
  opacity: 1;
}

@media (max-width: 1000px) {
  .pet-item {
    width: 30%;
    margin: 1.66%;
  }
}

@media (max-width: 800px) {
  .pet-item {
    width: 45%;
    margin: 2.5%;
  }
}

@media (max-width: 500px) {
  .pet-item {
    width: 90%;
    margin: 5%;
  }
}