.pet-item-content {
  padding: 16px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.pet-item-content p {
  margin: 0;
  padding: 5px 0;
  font-size: 14px;
}

.pet-content-label {
  font-weight: 700;
  color: #566270;
}